@import "tailwindcss";

@font-face {
  font-family: Barlow;
  src: url('./Styles/fonts/Barlow-BoldItalic.ttf');
}

:root {
  --font-Doto: 'Doto', sans-serif;
  --font-Roboto: 'Roboto', sans-serif;
}
.font-Doto {
  font-family: var(--font-Doto);
 
}
.font-Roboto{
   font-family: var(--font-Roboto);
}
  
/* Flowbite CSS  */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* Custom theme configurations */

  html,body{
      overflow-x: hidden;
      height: auto;
  }
.particles-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  background-color: black;
}

