@import "tailwindcss";

/* @font-face {
  font-family: Barlow;
  src: url('./Styles/fonts/Barlow-BoldItalic.ttf');
}

@theme{
  --font-Barlow:Barlow,"sans-serif";
} */
/* Flowbite CSS  */
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

/* Custom theme configurations */

  html,body{
      overflow-x: hidden;
  }
.particles-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  background-color: black;
}